
*{
color: white;
font-family: "FontAwesome";
}



#waybar {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
	min-height: 50px

}

#workspaces {
	background: transparent;
	border-radius: 20px;
	font-size: 10px;
}

#clock {
	background: transparent;
	font-size: 17px;
	font-family: monospace;
}

#battery {
	background: transparent;
	font-size: 17px;
	font-family:monospace;
}
