
*{
color: white;
font-family: "FontAwesome";
}



#waybar {
	background: black;
}

#workspaces {
	background: transparent;
	border-radius: 20px;
	font-size: 10px;
}

#clock {
	background: transparent;
	font-size: 17px;
	font-family: monospace;
}

#workspaces button {
    color: #d3d3d3;
    background: transparent;
    border: none;
}

#workspaces button.active {
    color: #ffffff;
    background: #5e81ac;
    border-radius: 5px;
    padding: 5px;
}

