
*{
	color: white;
	font-family: "FontAwesome";
	background : transparent;
}

#waybar {
	background: rgba(0,0,0,0);
	border-radius: 0px;
}

#workspaces {
	background: transparent;
	border-radius: 0px;
	font-size: 10px;
	margin-right: 25px;
}

#clock {
    background: transparent;
    font-size: 17px;
    font-family: monospace;
    font-weight: 700;
    color: #E8F9FF;
    margin-right: 20px;
}

#workspaces button {
	color: #d3d3d3;
	background: transparent;
	border: none;
}

#workspaces button.active {
	color: red;
	background: transparent;
	border-radius: 0px;
	padding: 5px;
}

#window, #hyprland-window {
	color: #B5CFB7;
	font-size: 14px;
	font-weight: bold;
	background: transparent;
	padding: 2px 10px;
}

#bluetooth {
	margin-right: 10px;
	color: #00879E;	
}

#pulseaudio {
	margin-left: 10px;
	margin-right: 10px;
	color: #A6CDC6;
}

#battery {
	margin-right: 10px;
	color: #FF9D23;
}

#network {
	margin-right: 10px;
	color: #C14600;
}

window#waybar {
	color: #B5CFB7;
    background: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    padding: 5px;
}

#custom-brightness {
	color: #A1D6B2;
}

window {
	color: #B5CFB7;
}

#custom-spotify {
	margin-right: 10px;
	color: #1ED760;
}

#custom-firefox {
	margin-right: 10px;
	color: #FF7139; 
}

#custom-reddit {
	color: #FF4500;
}
