window {
    background-color: rgba(20, 20, 20, 0.95);
    border-radius: 10px;
    border: 2px solid #D98324;
}

#entry {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    background-color: transparent;
}

#entry:selected {
    background-color: #D98324;
    color: black;
    font-weight: bold;
}

